:root {
    --bg-color: #1a202c;
    --text-color: #edf2f7;
    --container-bg: #2d3748;
    --button-bg: #3182ce;
    --button-hover-bg: #1e2522;
    --input-bg: #4a5568;
    --input-border: #4a5568;
}
.light-theme {
    --bg-color: #ffe4c4;
    --text-color: #151b27;
    --container-bg: #ffae00;
    --button-bg: #ff7857;
    --button-hover-bg: #658a46;
    --input-bg: #f7fafc;
    --input-border: #cbd5e0;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.container {
    background-color: var(--container-bg);
}
input, button {
    background-color: var(--input-bg);
    border-color: var(--input-border);
}
button {
    background-color: var(--button-bg);
    color: var(--text-color);
}
button:hover {
    background-color: var(--button-hover-bg);
}